/********************************************/
/* Global styling */
/********************************************/

body {
  background-color: $background;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13.34px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3em;
  font-weight: normal;
  font-color: $yellowish-black
}

p {
  margin: 1em 0;
}

a {
  color: $greenishlink;
}

a:hover {
  color: $greenishhover;
}

a:visited {
  color: $greenishlink;
}

table {
  font-size: inherit;
  font: 100%;
}


/********************************************/

.title {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
  .site .title a {
    text-decoration: none;
    font: 300 20px/1.1 "Source Sans Pro", sans-serif;
  }

  .site .title a:hover {
    color: $greenishhover;
    border-color: #bbb;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
  }

  .site .title a.extra:hover {
    color: black;
  }

.posts a:hover{
  color: $post-hover;
}

.posts a:visited{
  color: $post-visited;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/* Posts */
/*****************************************************************************/

.post-title{
	font-size:1.5em;
}

.post-title a{
	text-decoration: none;
}

.post-title a:hover{
	color: $post-hover;
}

.post-meta{
  color: #545454;
  font-size: 90%;
}

.post-content{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 78%;
	line-height: 1.4;
}

.post-content a{
	text-decoration: none;
	border-bottom: 1px solid #cfe2e5;

}

.post-content a:hover{

	color: #790E0E;
	border-color: #790E0E;
}

blockquote{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  color: #000;
  margin: 25px 25px 15px;
  padding: 5px 10px 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;

  ul{
  margin: 0 0 1em 2em;
  }
  ol{
  margin: 0 0 1em 2em;
  }
}










