$background: #F9F9F9;
$yellowish-black: #330;

$greenishlink: #1E859B;
$greenishhover: #0F7A91;

$turquoise: #23ccbe;
$light-turquoise: #b8d8d5;
$dark-turquoise: #01aa9c;

$light-gray-border: #ededed;
$dark-gray-border: #bbb;

$post-hover: #054654;
$post-visited: rgb(7, 55, 49);